html {
	background-color: #EEEEEE;
}
nav {
	background-color: #8B8B8F;
	margin-top:-20px;
	margin-left: -20px;
	margin-right: 20px;
	width: 150px;
	padding: 2px;
	float: left;
	height: 1000px;
	position: fixed;
}

ul {
	list-style: none;
}


nav ul li{
	color: white;
	font-family: Monaco, Consolas, "Lucida Console", monospace;
	font-size: 25px;
}
a {
	color: white;
	text-decoration: none;
}

.text-post {
	background: white;
	border: 2px dotted #C2174A;
	border-radius: 7px;
	box-shadow: -4px 4px 10px -3px #6666A3;
	opacity: .75;
	margin-left: 200px;
	margin-right: 50px;
	margin-bottom: 25px;
	padding:20px;
}

.image-post {
	background: white;
	border: 2px dotted #FABA2F;
	border-radius: 7px;
	box-shadow: -4px 4px 10px -3px #6666A3;
	opacity: .75;
	margin-left: 200px;
	margin-right: 50px;
	margin-bottom: 25px;
	padding:20px;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto
}

