html {
	background-color: #F5F3EE;
}
nav {
	background-color: #7D1935;
	margin-top:-20px;
	margin-left: -20px;
	margin-right: 20px;
	width: 125px;
	padding: 2px;
	float: left;
	height: 1000px;
	position: fixed;
}

ul {
	list-style: none;
}


nav ul li{
	color: #FFFFFF;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 20px;
	margin-left: -18px;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}

a:hover {
	color: #DDDDDD;
}

.post {
	background: #FFFFFF;
	border: 2px inset #C2174A;
	border-radius: 7px;
	box-shadow: -4px 4px 10px -3px #6666A3;
	opacity: .75;
	margin-left: 175px;
	margin-right: 100px;
	margin-bottom: 25px;
	padding:20px;
}

.post a {
	padding:20px;
	font-size:14px;
	color:#777777;
}

.post a:hover {
	color:#8E2A46;
}

.center {
	display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.image {
	display: block;
	margin-left: auto;
    margin-right: auto;
    text-align: center;
	max-width:90%;
    height:auto;
    width:auto\9;
}

nav ul+ul li {
	position:fixed;
	bottom:1%;
	font-size:16px;
}

h1 {
	border-bottom: 1px solid #AAAAAA;
}

#footer {
	text-align: center;
}

